<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>第一个HTML页面</title>
</head>
<body>
<h1>Hello Spring Boot!!!</h1>
<image th:src="@{/img/c1.png}" width="100px" height="50px" />
<img th:src="@{/img/test.png}"  alt="上海鲜花港 - 郁金香" />
<p th:text="${hello}"></p>
<script>
    function getContextPath(){
        var pathName = document.location.pathname;
        var index = pathName.substr(1).indexOf("/");
        var result = pathName.substr(0,index+1);
        return result;
    }
</script>
</body>
</html>